<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Selin's Books</title>
</head>
<body>
<div class="nav">
    <a href="/">Home</a>
    <a class="addButton" href="/addBook">Add Book</a>
</div>
